<a href="https://colab.research.google.com/github/DivyaNatarajan14/DivyaNatarajan14/blob/main/day_1_for_job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits=['banana','apple','pomogrante','guvava']
for fruit in fruits:
  print(fruit)

banana
apple
pomogrante
guvava

In [ ]:
for index, fruit in enumerate(fruits):
  print(index,fruit)

0 banana
1 apple
2 pomogrante
3 guvava

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Example 1:

Input: nums = [2,7,11,15], target = 9

Output: [0,1]

In [5]:
def two_sum(nums,target):
  seen={}

  for index, num in enumerate(nums):
    wanted=target-num

    if wanted in seen:
      return(seen[wanted],index)
    seen[num]=index

In [7]:
nums=[2,7,11,15]
target=17
result=two_sum(nums,target)
print("indices:" ,result)

indices: (0, 3)

Reverse a string

In [8]:
def revese_string(s):
  return s[::-1]

input_string=str(input("Enter a String : "))
reverse_str=revese_string(input_string)
print("Original string: ", input_string)
print("Reversed String: ", reverse_str)

Enter a String : Thamizhkumaran
Original string:  Thamizhkumaran
Reversed String:  naramukhzimahT

without indexing

In [10]:
def reverse_string(m):
  reverse_str=""

  for char in m:
    reverse_str=char + reverse_str
  return reverse_str

input_string=str(input("Enter a String : "))
reversed_str=reverse_string(input_string)
print("Original string: ", input_string)
print("Reversed String: ", reversed_str)

Enter a String : i am strong
Original string:  i am strong
Reversed String:  gnorts ma i